* {
	margin: 0;
	padding: 0;
}

html, body{
  min-height: 100vh;
}

body{
	font-family: 'Poppins', serif;
	background-color: #F2F2F2;
}


.gambar img {
    float : left;
    width:55%; 
    height:auto; 
    margin-left:10px;
    margin-right:40px;
}

.penjelasan {
    font-size:30px;
    display: inline
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: lightslategray;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    padding: 15px;
    padding-bottom: 15px;
    border-bottom:1px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .button:hover {
    background-color: #555555;
    color: white;
  }



  .penjelasan {

    text-transform: uppercase;
    letter-spacing: 0.3ch;
    background: #ffffff;
  }

  .namaproduk {
      border-style : solid;
      border-width: 0px 0px 4px 0px;
      /* display : flex; */
      font-size: 35px;
  }

/*header*/

  #header{
    padding: 10px 40px;
    background-color: white;
    width: 100%;
    position: fixed;
    display: inline;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
    z-index: 10;
    top: 0;
  }
  #header img{
    display: inline-block;
    float: left;
  }
  #header #navigation a {
    text-decoration: none;
    color: black;
  }
  #header #navigation a:hover{
    color: rgba(0,0,0,.7);
  }
  #navigation ul li {
    display: inline;
    float: left;
    padding: 8px;
    margin-left: 20px;
  }
  #main {
    position: relative;
    top: 80px;
    margin: 10px 40px;
  }
  #order-by {
    background-color: white;
    height: calc(1.68125rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: .7875rem;
    line-height: 1.5;
    border-radius: .2rem;
  }

  /* footer */

  .bg-white {
    background-color: white;
    bottom: 0;
  }
  
  .text-white {
    color: snow;
  }
  
  .text-black {
    color: black;
  }
  
  .text-center {
    text-align: center;
  }
  
  .footer {
    margin-top: 250px;
    padding: 30px 0px;
    box-shadow: 0px -5px 5px rgba(136, 136, 136, 0.5);
    /* position: absolute; */
    background-color: white;
    bottom:0;
    height: 2.5%;
    width: 100%;
  }
  
  .flex-center {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .penahan {
    height : 90px
  }

  .detilproduk {
    font-size : 28px
  }